.RegisterPage {
  background: linear-gradient(black 70%, white);
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: white;
}

.RegisterLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 30px;
}

.RegisterBox {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BoxLetter {
  display: flex;
  width: 410px;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.RegisterButton {
  width: 410px;
  height: 45px;
  color: #fff;
  background-color: #282828;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
